{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/hero.css') }}">
{% endblock %}

{% block body %}
    <section class="hero-section">
        <div class="hero-overlay">
            <h1 class="hero-title">Pro vás to nejlepší</h1>
            <div class="hero-boxes">
                <a href="{{ path('order_new') }}">
                    <div class="hero-box" data-aos="fade-up">
                        <h2>REZERVACE ZBOŽÍ</h2>
                        <span>klikni pro rezervaci zboží</span>
                    </div>
                </a>
                <a href="{{ path('order_new') }}">
                    <div class="hero-box" data-aos="fade-up">
                        <h2>OBJEDNÁVKA BALÍČKU</h2>
                        <span>klikni pro online objednávku</span>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <script>
        AOS.init({
            duration: 800,
            once: true
        });
    </script>
{% endblock %}
